rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ===============================================================
    // Helper Functions
    // ===============================================================
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isAdmin() {
      return isAuthenticated() && 
        (
          request.auth.token.email == 'assessoriaomega1@gmail.com' ||
          (request.auth.token.email != null && exists(/databases/$(database)/documents/users/$(request.auth.token.email)) && get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.role == 'CEO')
        );
    }
    
    function isActive() {
      return isAuthenticated();
    }

    // ===============================================================
    // Rules
    // ===============================================================
    
    match /users/{email} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if isAdmin();
    }
    
    match /state/global {
      allow read: if true;
      allow write: if true;
    }
    
    match /months/{monthId} {
      allow read: if true;
      allow write: if true;
    }
    
    match /activity/{id} {
      allow read: if true;
      allow create: if true;
    }
  }
}
